menu "RT-Thread board config"

config BSP_USING_GIC
    bool
    default y

config BSP_USING_GICV3
    bool
    default y

config RT_BOARD_NAME
    string "the board name that you use"
    default "rk3588_evb1"

source "$BSP_DIR/board/$RT_BOARD_NAME/Kconfig"

endmenu
