source "$BSP_DIR/../common/drivers/Kconfig"

menu "RT-Thread rockchip RK3506 drivers"

source "$BSP_DIR/driver/Kconfig.audio"
source "$BSP_DIR/../common/fwmgr/Kconfig"

config RT_USING_CRU
    bool "Enable CRU"
    default n

config RT_USING_DMA
    bool "Enable General DMA Framework"
    default n

if RT_USING_DMA
config RT_USING_DMA_PL330
    bool "Enable PL330 DMA Controller"
    default n

config RT_USING_DMA0
    bool "Enable PL330 DMA0 Controller"
    default n

config RT_USING_DMA1
    bool "Enable PL330 DMA1 Controller"
    default n
endif

config RT_USING_DSMC_HOST
    bool "Enable DSMC HOST"
    default n

config RT_USING_DSMC_SLAVE
    bool "Enable DSMC SLAVE"
    default n

config RT_USING_FLEXBUS
    bool "Enable Flexbus"
    default n

if RT_USING_FLEXBUS
config RT_USING_FLEXBUS_ADC
    bool "Enable Flexbus ADC mode"
    select RT_USING_ADC
    select RT_USING_DMA
    default n

config RT_USING_FLEXBUS_DAC
    bool "Enable Flexbus DAC mode"
    select RT_USING_DAC
    select RT_USING_DMA
    default n

config RT_USING_FLEXBUS_SPI
    bool "Enable Flexbus SPI mode"
    default n
endif

menu "Enable GMAC"
    config RT_USING_GMAC
        bool "Enable GMAC"
        select RT_USING_LWIP
        select RT_LWIP_USING_HW_CHECKSUM
        default n

    if RT_USING_GMAC
    config RT_USING_GMAC0
        bool "Enable GMAC0"
        default n

    config RT_USING_GMAC1
        bool "Enable GMAC1"
        default n

    config RT_USING_GMAC_PTP
        bool "Enable GMAC PTP"
        select RT_USING_LWIP_PTP
        default n
    endif
endmenu

if RT_USING_I2C
menu "Enable I2C"
    config RT_USING_I2C0
        bool "Enable I2C0"
        default n

    config RT_USING_I2C1
        bool "Enable I2C1"
        default n

    config RT_USING_I2C2
        bool "Enable I2C2"
        default n
endmenu
endif

config RT_USING_NPOR
    bool "Enable NPOR"
    default n

if RT_USING_PWM
menu "Enable PWM"
    config RT_USING_PWM0
        bool "Enable PWM0"
        default n

    config RT_USING_PWM1
        bool "Enable PWM1"
        default n
endmenu
endif

config RT_USING_SARADC
    select RT_USING_ADC
    bool "Enable SARADC"
    default n

config RT_USING_TOUCHKEY
    bool "Enable TOUCHKEY"
    default n

if RT_USING_SDIO
menu "Enable SDIO/SDMMC/eMMC"
    config RT_USING_SDIO0
        bool "Enable MMC controller"
        default n
endmenu
endif

if RT_USING_SPI
menu "Enable SPI"
    config RT_USING_SPI0
        bool "Enable SPI0"
        default n

    config RT_USING_SPI1
        bool "Enable SPI1"
        default n

    config RT_USING_SPI2APB
        bool "Enable SPI2APB(SPI2)"
        default n
endmenu
endif

config RT_USING_SYSTICK
    bool "Enable SYSTICK"
    default y

config RT_USING_TSADC
    bool "Enable TSADC"
    default n

menu "Enable UART"
    config RT_USING_UART
        bool "Enable UART"
        default y

    if RT_USING_UART
    config RT_USING_UART0
        bool "Enable UART0"
        default n

    config RT_USING_UART1
        bool "Enable UART1"
        default n

    config RT_USING_UART2
        bool "Enable UART2"
        default n

    config RT_USING_UART3
        bool "Enable UART3"
        default n

    config RT_USING_UART4
        bool "Enable UART4"
        default n

    config RT_USING_UART5
        bool "Enable UART5"
        default n

    endif
endmenu

config RT_USING_DISPLAY
    bool "Enable Display"
    default n

choice
    prompt "Display Controller"
    depends on RT_USING_DISPLAY

    config RT_USING_VOP
        bool "Enable VOP Composite"
        depends on RT_USING_DISPLAY
        default n
endchoice

choice
    prompt "Display Interface"
    depends on RT_USING_VOP

    config RT_USING_DW_MIPI_DSI
        bool "Enable MIPI Display Interface"
        default n

    config RT_USING_VOP_RGB
        bool "Enable RGB Display Interface"
        default n

    config RT_USING_VOP_MCU
        bool "Enable MCU Display Interface"
        default n
endchoice

if RT_USING_USB_HOST
menu "Enable USB HOST"
    config RT_USING_DWC2_USBH
        bool "Enable USB OTG HOST"
        default n

    if RT_USING_DWC2_USBH
    config RT_USING_DWC2_USBH0
        bool "Enable USB OTG0 HOST"
        depends on !RT_USING_USB_DEVICE
        default n

    config RT_USING_DWC2_USBH1
        bool "Enable USB OTG1 HOST"
        default n
    endif
endmenu
endif

if RT_USING_DFS_RAMFS
menu "Config RAMFS"
    config RT_DFS_RAMFS_SIZE
    int "Ram filesystem size config"
    default 1048576
endmenu
endif

endmenu
