// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/suspend/rockchip-rk3506.h>
#include <dt-bindings/display/media-bus-format.h>
#include "rk3502-evb1-v10.dtsi"

/ {
	model = "Rockchip RK3506G(QFN128) EVB1 V10 Board + RK EVB VOP3 RGB24BIT DISPLAY Ext Board";
	compatible = "rockchip,rk3506g-evb1-v10-rgb-Q7050ITH2641AA1T", "rockchip,rk3506";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff0a0000 console=ttyFIQ0 ubi.mtd=5 ubi.block=0,rootfs root=/dev/ubiblock0_0 rootfstype=squashfs rootwait snd_aloop.index=7 snd_aloop.use_raw_jiffies=1 storagemedia=mtd androidboot.storagemedia=mtd androidboot.mode=normal";
	};
	
	panel: panel {
		compatible = "simple-panel";
		bus-format = <MEDIA_BUS_FMT_RGB888_1X24>;
		backlight = <&backlight>;
		enable-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
		enable-delay-ms = <20>;
		power-supply = <&vcc3v3_lcd_n>;
		connector-type = <17>;
		bpc = <8>;
		status = "okay";

		display-timings {
			native-mode = <&q7050ith2641aa1t_timing>;
			q7050ith2641aa1t_timing: timing0 {
                clock-frequency = <9000000>;
                hactive = <480>;
                vactive = <272>;
                hback-porch = <43>;
                hfront-porch = <8>;
                vback-porch = <12>;
                vfront-porch = <8>;
                hsync-len = <3>;
                vsync-len = <3>;
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <1>;
                pixelclk-active = <0>;
			};
		};

		port {
			panel_in_rgb: endpoint {
				remote-endpoint = <&rgb_out_panel>;
			};
		};
	};
};

&cma {
	size = <0x1600000>;
};

&rgb_in_vop {
	status = "okay";
};

&route_rgb {
	status = "okay";
};

&u2phy_otg0 {
	rockchip,vbus-always-on;
};

&spi1 {
    status = "okay";
    num-cs = <1>;
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_clk_pins &spi1_csn0_pins>;

    /* XPT2046 触摸屏（兼容ADS7846） */
    xpt2046: touchscreen@0 {
        compatible = "ti,tsc2046";
        reg = <0>;                 // SPI CS0
        spi-max-frequency = <500000>;
        
		interrupts = <RK_PB6 IRQ_TYPE_EDGE_FALLING>;
		interrupt-parent = <&gpio0>;
        pendown-gpio = <&gpio0 RK_PB6 GPIO_ACTIVE_LOW>;
        
        ti,x-min = <0>;
        ti,x-max = <8000>;
        ti,y-min = <0>;
        ti,y-max = <4800>;
        ti,pressure-min = <0>;
        ti,pressure-max = <255>;
        ti,x-plate-ohms = <400>;  // 典型值 40-400Ω

        /* 可选参数 */
        //ti,swap-xy;               // 交换XY轴（根据屏幕方向调整）
        //ti,keep-vref-on;          // 保持VREF供电
    };
};

&i2c2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&rm_io4_i2c2_scl &rm_io5_i2c2_sda >;
    cs4760: cs4760@51 {
        compatible = "cirrus,cs4760-rtc"; // 必须与驱动中的匹配
        reg = <0x51>;
    };
};
